#calc-body {
    border: 1px none;
    border-radius: 12px;
    padding: 12px;
    max-width: 200px;
    background-color: #AABBDD;
}

#screen {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    text-align: right;
    border: 1px solid #DDEEFF;
    border-radius: 8px;
    background-color: #DDEEFF;
    padding: 4px;
}

.btn {
    background-color: #CCDDFF;
    font-size: 24px;
    border: 1px none;
    border-radius: 8px;
}

.btn-wide {
    min-width: 60px;
}

.btn-med {
    min-width: 45px;
}

.btn:hover {
    background-color: #DDEEFF;
}