<div id = calc-body>
<div id = "screen">{{ currentNumber }}</div>
<br>
    <table>
        <tr>
            <th><button (click)="append('7')" class = "btn btn-wide">7</button></th>
            <th><button (click)="append('8')" class = "btn btn-wide">8</button></th>
            <th><button (click)="append('9')" class = "btn btn-wide">9</button></th>
        </tr>
        <tr>
            <th><button (click)="append('4')" class = "btn btn-wide">4</button></th>
            <th><button (click)="append('5')" class = "btn btn-wide">5</button></th>
            <th><button (click)="append('6')" class = "btn btn-wide">6</button></th>
        </tr>
        <tr>
            <th><button (click)="append('1')" class = "btn btn-wide">1</button></th>
            <th><button (click)="append('2')" class = "btn btn-wide">2</button></th>
            <th><button (click)="append('3')" class = "btn btn-wide">3</button></th>
        </tr>
        <tr>
            <th colspan = 3><button (click)="append('0')" class = "btn btn-wide">0</button></th>
        </tr>
    </table>
    <table>
        <tr>
            <th><button (click)="append('+')" class = "btn btn-med">+</button></th>
            <th><button (click)="append('-')" class = "btn btn-med">-</button></th>
            <th><button (click)="append('*')" class = "btn btn-med">*</button></th>
            <th><button (click)="append('/')" class = "btn btn-med">/</button></th>
        </tr>
        <tr>
            <th></th>
            <th><button (click)="append('=')" class = "btn btn-med">=</button></th>
            <th><button (click)="append('C')" class = "btn btn-med">C</button></th>
            <th></th>
        </tr>
    </table>
</div>